<!-- Header -->
<div class="bg-white shadow-md px-6 py-4 flex items-center justify-between">

    <!-- Logo -->
    <a href="{% url 'home' %}" class="text-2xl font-bold text-blue-600">
        Bookshop
    </a>

    <!-- Search -->
    <form action="{% url "filter" %}" method="get" class="flex items-center gap-2 w-[700px]">
        <input 
            type="text" 
            name="search" 
            placeholder="Search by title, author, ISBN..."
            class="border border-gray-300 rounded-lg px-3 py-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
        >
        <button 
            type="submit" 
        
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
        >
            Search
        </button>
    </form>

    <!-- Menu -->

     <div class="p-4 rounded-lg border border-slate-200 flex h-fit items-center gap-4 text-slate-700 text-sm">
        {% if user.is_authenticated %}
         <a href="{% url 'profile' %}" class="hover:text-blue-600 font-semibold border-r pr-4 border-slate-200 flex items-center gap-1">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-slate-400">
                 <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
             </svg>
             Hii, {{ request.user.first_name|default:request.user.username }}
         </a>
         <a href="{% url 'profile' %}" class="hover:text-blue-600 font-medium">My Orders</a>
         {% if request.user.is_superuser %}
            <a href="{% url 'admin_index' %}" class="hover:text-blue-600 font-medium">Admin Dashboard</a>
         {% endif %}
         <a href="{% url 'logout' %}" class="hover:text-red-500 font-medium">Logout</a>
       
        {% else %}
         <a href="{% url 'login' %}" class="hover:text-blue-600 font-medium">Login</a>
         <a href="{% url 'register' %}" class="hover:text-blue-600 font-medium">Register</a>
        {% endif %}
        <span class="text-slate-200">|</span>
        <a href="{% url 'cart' %}" class="hover:text-blue-600 font-semibold flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-slate-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            Cart
        </a>
    </div>

</div>

<!-- Genres -->
<div class="flex gap-4 px-6  bg-slate-100 overflow-x-auto ">
      <a href="{% url 'home'  %}" class="text-slate-600 py-2 border-r px-3 border-slate-300 hover:text-black font-medium">All Books</a>

    {% for genre in generes %}
        <a href="{% url 'category_filter' genre.slug %}" class="text-slate-600 py-2 border-r px-3 border-slate-300 hover:text-black font-medium">
            {{ genre.title }}
        </a>
    {% endfor %}

</div>