<!-- Header -->
<div class="bg-white shadow-md px-6 py-4 flex items-center justify-between">

    <!-- Logo -->
    <a href="{% url 'home' %}" class="text-2xl font-bold text-blue-600">
        Bookshop
    </a>

    <!-- Search -->
    <form action="{% url "filter" %}" method="get" class="flex items-center gap-2 w-[700px]">
        <input 
            type="text" 
            name="search" 
            placeholder="Search by title, author, ISBN..."
            class="border border-gray-300 rounded-lg px-3 py-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
        >
        <button 
            type="submit" 
        
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
        >
            Search
        </button>
    </form>

    <!-- Menu -->

     <div class="p-4 border-lg border-slate-200 flex h-fit gap-4">
        {% if user.is_authenticated %}
         <a href="{% url 'home' %}" class="px-4">Hii, {{ request.user.first_name }}</a>
        <a href="{% url 'logout' %}" class="px-4">Logout</a>
       
        {% else %}
        <a href="{% url 'login' %}" class="px-4">Login</a>
        <a href="{% url 'register' %}" class="px-4">Register</a>
        {% endif %}
        <a href="#" class="hover:text-blue-600">Cart</a>
    </div>

</div>

<!-- Genres -->
<div class="flex gap-4 px-6  bg-slate-100 overflow-x-auto ">
      <a href="{% url 'home'  %}" class="text-slate-600 py-2 border-r px-3 border-slate-300 hover:text-black font-medium">All Books</a>

    {% for genre in genres %}
        <a href="{% url 'category_filter' genre.slug %}" class="text-slate-600 py-2 border-r px-3 border-slate-300 hover:text-black font-medium">
            {{ genre.tittle }}
        </a>
    {% endfor %}

</div>